@import "tailwindcss";

@layer base {
  :root {
    --color-primary: #cc3000;
    --color-primary-200: #8f2100;
    --color-secondary: #ff430a;
  }
}

@layer utilities {
  .bg-primary {
    background-color: var(--color-primary);
  }
  .bg-primary-200 {
    background-color: var(--color-primary-200);
  }
  .bg-secondary {
    background-color: var(--color-secondary);
  }
  .text-primary {
    color: var(--color-primary);
  }
  .text-secondary {
    color: var(--color-secondary);
  }
  .border-primary {
    border-color: var(--color-primary);
  }
  .border-secondary {
    border-color: var(--color-secondary);
  }
}

  html {
    scroll-behavior: smooth !important;
}

@layer base {

  body {
    background-color: rgb(255, 248, 248);
    font-family: "Inter", sans-serif;
  }
  p {
    font-family: Inter;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
  }

  .container {
    max-width: 1350px !important;

    padding: 0 15px;
    margin: auto;
  }
  .border-img {
    border: 2px solid #98a2b3;
    border-radius: 20px;
  }
  .gallery-img:hover {
    transform: scale(1.01);
    transition: 0.3s all;
  }
  .text-15-custom * {
    font-size: 15px !important;
  }
}
